node_modules
/gems
/auto_generated
.eslintcache

.venv/
__pycache__/
*.pyc

spec/fixtures/pdf_corpus/**/*.pdf
spec/fixtures/pdf_corpus/accepted/after/*
!spec/fixtures/pdf_corpus/accepted/after/.gitkeep
